.login {
    width: 100vw;
    height: 100vh;
    background: #f0f0f0;
    .center {
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       margin:auto;
       width: 400px;
       height: 260px;
    }
}