.index {
    .center {
        width: 1000px;
        margin: 0 auto;
    }

    .fl {
        float: left;
    }

    .fr {
        float: right;
    }

    // 头
    header {
        background-color: #2C2F33;
        height: 52px;
        overflow: hidden;

        .center {
            width: 1000px;
            margin: 0 auto;
        }

        ul {
            overflow: hidden;

            li {
                float: left;
                color: white;
                font-style: normal;
                font-size: 14px;
                line-height: 54px;
                opacity: 0.8;
                padding: 0 15px;
                margin-left: 4px;
            }
        }

        >div {
            width: 340px;
            color: #fff;
            line-height: 54px;
            text-align: right;
        }
    }

    .banner {
        position: relative;
        width: 100%;
        height: 478px;

        img {
            vertical-align: middle;
            width: 100%;
            height: 478px;
        }

        .center {
            position: absolute;
            height: 100%;
            top: 0;
            margin-left: -500px;
            top: 0;
            left: 50%;



            div {
                text-align: center;
                padding-top: 300px;

                input {
                    width: 368px;
                    height: 40px;
                    margin-top: 6px;
                    margin-left: 10px;
                    padding-left: 10px;
                    box-sizing: border-box;
                    border-radius: 3px;
                }

                button {
                    color: #fff;
                    background: #F37327;
                    font-size: 14px;
                    font-family: PingFangSC-Regular;
                    width: 92px;
                    height: 40px;
                    border-radius: 3px;
                    margin-top: 10px;
                    margin-left: 10px;
                    cursor: pointer;
                }
            }
        }
    }

    .text {
        height: 364px;
        width: 100%;

        .center {
            overflow: hidden;
            width: 1180px;
            height: 300px;
            margin: 32px auto;
        }

        .right {
            width: 310px;
        }

    }
    footer {
        width: 100%;
        line-height: 44px;
        color: #fff;
        background: #2C2F33;
        text-align: center;
    }

    .list {
        width: 850px;
        height: 300px;
        background: #FFFFFF;
        box-shadow: 0 0 15px 0 rgba(31, 56, 88, 0.08);
        border-radius: 3px;
        float: left;
        overflow: hidden;
        position: relative;

        .top {
            height: 49px;
            line-height: 49px;
            padding: 0 14px;
            font-size: 14px;
            border-bottom: 1px solid rgba(31, 56, 88, 0.06);
            background: #fff;
            position: relative;
            z-index: 2;
            .fr {
                font-size: 14px;
                color: rgba(31, 56, 88, 0.60);
                cursor: pointer;
            }
        }

        ul {
            position: absolute;
            top:50px;
            transition: all .1s linear;
            li {
                padding: 0 14px;
                overflow: hidden;
                line-height: 50px;

                span {
                    display: inline-block;
                    float: left;
                }

                span:nth-child(1) {
                    color: #3C99D8;
                    cursor: pointer;
                    font-size: 14px;
                    width: 400px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                span:nth-child(2) {
                    font-style: normal;
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.60);
                    margin-right: 70px;
                    width: 202px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                span:nth-child(3) {
                    font-style: normal;
                    float: right;
                    width: 70px;
                    text-align: right;
                    font-size: 14px;
                    color: rgba(31, 56, 88, 0.60);
                }

            }
        }
    }

}